.form {
  padding: 40px;
width: 100%;
  
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__input {
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;

  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus,
.form__input:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}
.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  fill: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 29px;
  left: 15px;
  transition: fill var(--standard-animation);
}

.form__label--comment-textarea {
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;

  height: 120px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border-color: var(--accent-color);
    cursor: pointer;
  }
}
.form__label--comment-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement__label {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
}

.agreement__link {
  margin-left: 3px;
  color: var(--accent-color);
  text-decoration-line: underline;
}
.agreement__label::before {
  content: "";
  display: inline-block;
  text-align: center;
  width: 16px;
  height: 15px;
  border: 1px solid var(--title-text-color);
  border-radius: 3px;
  margin-right: 8px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement:checked + .agreement__label::before {
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.button-send {
  background-color: var(--accent-color);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  display: block;
  margin-left: auto;
  margin-right: auto;
}
