.main-nav__logo {
  display: inline-block;
  width: 145px;
  margin-right: 93px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
}
.main-nav__logo--web {
  color: var(--accent-color);
}
.main-nav__logo--studio {
  color: #000000;
}
