.main-nav__logo {
  display: inline-block;
  width: 145px;

  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.main-nav__logo--web {
  color: var(--accent-color);
}
.main-nav__logo--studio {
  color: #000000;
}
