.main-nav__logo {
  display: inline-block;

  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;

  @media screen and (min-width: 400px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 44px;
  }
}
.main-nav__logo--web {
  color: var(--accent-color);
}
.main-nav__logo--studio {
  color: #000000;
}
