.social-icons {
  display: inline-flex;
}
.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--standard-animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:hover .social-icon__svg,
  &:focus .social-icon__svg {
    fill: var(--button-accent-text-color);
  }
}

.social-icon__svg {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);

  transition: fill var(--standard-animation);
}
