:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-accent-text-color: #fff;
  --icon-color: #afb1b8;
  --footer-icon-bgc: rgba(255, 255, 255, 0.1);

  --standard-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --font-family--roboto: "Roboto",sans-serif;
}
