.auth-nav {
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding: 0;
  }
}
.auth-nav--modifier {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.auth-nav__item {
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.auth-nav__item--modifier {
  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
    margin-top: 0px;
  }
}
.auth-nav__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.auth-nav__link--modifier {
  display: flex;
  align-items: center;

  transition: color var(--standard-animation);
}
.auth-nav--mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  stroke: currentColor;
}
.auth-nav--tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  stroke: currentColor;
}
