.auth-nav {
  display: flex;
  padding: 0;
}
.auth-nav--modifier {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
.auth-nav__item {
  margin-right: auto;
}
.auth-nav__item--modifier {
  margin-left: 50px;

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-left: 0;
  }
}
.auth-nav__link--margin {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
.auth-nav__link {
  color: var(--primary-text-color);
  font-weight: 500;

  line-height: 1.14;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.auth-nav__link--modifier {
  display: flex;
  align-items: center;

  transition: color var(--standard-animation);
}
.auth-nav--mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  stroke: currentColor;
}
.auth-nav--tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  stroke: currentColor;
}
