.footer {
  padding: 60px 0px;
  background-color: #2f303a;

  text-align: center;
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    text-align: left;
    align-items: center;
  }
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.footer-menu__adress {
  font-style: normal;
  width: 270px;

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}
.footer-menu__logo {
  display: inline-block;
  width: 145px;
  font-family: Raleway;

  line-height: 1.19;

  @media screen and (max-width: 1199px) {
    font-size: 24px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}
.footer-menu__logo--web {
  color: var(--accent-color);
}
.footer-menu__logo--studio {
  color: white;
}
.footer-menu__street {
  margin-top: 20px;
  margin-bottom: 9px;
  color: white;
}
