.foot-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 570px;

  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
  }
}
.foot-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.foot-form__label .input {
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-form__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 15px 0 15px 16px;
  color: #fff;
  @media screen and (min-width: 480px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: 450px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.foot-form__label .input:focus,
.foot-form__label .input:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}
.foot-form__label .input:focus + .icon-form,
.foot-form__label .input:hover + .icon-form {
  fill: var(--accent-color);
}
