.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero--modifier {
  margin-left: auto;
  margin-right: auto;
  height: 400px;

  background-position: center;
  background-size: cover;
  background-color: var(--backgr-dark);
  background-image: linear-gradient(var(--hero-gradient)),
    url(../images/hero-img.jpg), linear-gradient(to bottom, #c4c4c4, #c4c4c4);

  @media screen and (min-width: 1200px) {
    height: 600px;
    padding: 200px 0;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero-imgx2.jpg);
  }
}
@media screen and(min-width:480px) {
  .banner {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/hero-mob.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/mobile/hero-mobx2.jpg);
    }
  }
}
@media screen and(min-width:768px) {
  .banner {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/hero-tablet2.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet/hero-tabletx2.jpg);
    }
  }
}
.hero--text {
  text-transform: uppercase;
  width: 100%;
  color: var(--button-accent-text-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;

  @media screen and (max-width: 479px) {
    font-size: 20px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    font-size: 44px;
    line-height: 1.36;
  }
}
