.makets {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-basis: calc((100% - 2 * 30px) / 2);
    flex-wrap: wrap;
  }
}
.makets__item {
  margin-left: 30px;

  transition: opacity var(--standard-animation);
}
.makets__img {
  position: relative;
  overflow: hidden;
}
.work-item-portfolio .makets__details {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.makets__details {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0 24px;

  width: 100%;
  height: 100%;

  background: rgba(33, 150, 243, 0.9);

  text-align: left;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;

  transform: translateY(100%);
}
