.sign-up {
  flex-wrap: wrap;
  justify-content: center;
  width: 570px;

  @media screen and (max-width: 767px) {
    width: auto;
  }

  @media screen and (min-width: 1200px) {
    height: 86px;
  }
}
.join-text,
.sign-up__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
